In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sqlite

In [2]:
immigrantstock=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (16,39)])

In [3]:
immigrantstock.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,1990,1995,2000,2005,2010,...,2010.1,2015.1,2019.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2019.2
0,24,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,115823.0,142790,158163.0,169843,130688,64534,88069,119436,147020.0,162855
1,25,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,6060.0,6071,6047.0,7362,7325,7288,6923,6558,6484.0,6457
2,26,Djibouti,NaN,262,B R,122221,99774,100507,92091,101575,...,53295.0,59081,60654.0,57979,47298,47587,40776,48280,53270.0,54687
3,27,Eritrea,NaN,232,I,11848,12400,12952,14314,15676,...,8603.0,8833,8922.0,5620,5858,6096,6585,7073,7108.0,7179
4,28,Ethiopia,NaN,231,B R,1155390,806904,611384,514242,568748,...,298069.0,591409,637963.0,548106,382787,289165,244517,270679,570233.0,615120

In [4]:
# dropping the columns highlighted in blue in the excel sprdsheet(ones i dont want)
immigrantstock=immigrantstock.loc[~(immigrantstock['Unnamed: 0']==44)& ~(immigrantstock['Unnamed: 0']==54) & ~(immigrantstock['Unnamed: 0']==60)
                   & ~(immigrantstock['Unnamed: 0']==78) & ~(immigrantstock['Unnamed: 0']==79) & ~(immigrantstock['Unnamed: 0']==87)
                   & ~(immigrantstock['Unnamed: 0']==106) & ~(immigrantstock['Unnamed: 0']==107) & ~(immigrantstock['Unnamed: 0']==113)
                   & ~(immigrantstock['Unnamed: 0']==123) & ~(immigrantstock['Unnamed: 0']==124) & ~(immigrantstock['Unnamed: 0']==132)
                   & ~(immigrantstock['Unnamed: 0']==144) & ~(immigrantstock['Unnamed: 0']==145) & ~(immigrantstock['Unnamed: 0']==172)
                   & ~(immigrantstock['Unnamed: 0']==181) & ~(immigrantstock['Unnamed: 0']==196) & ~(immigrantstock['Unnamed: 0']==197)
                   & ~(immigrantstock['Unnamed: 0']==200) & ~(immigrantstock['Unnamed: 0']==206) & ~(immigrantstock['Unnamed: 0']==214)
                   & ~(immigrantstock['Unnamed: 0']==224) & ~(immigrantstock['Unnamed: 0']==225) & ~(immigrantstock['Unnamed: 0']==226)
                   & ~(immigrantstock['Unnamed: 0']==237) & ~(immigrantstock['Unnamed: 0']==251) & ~(immigrantstock['Unnamed: 0']==268)
                   & ~(immigrantstock['Unnamed: 0']==278)]

In [5]:
img_stk_gndr=immigrantstock.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Major country, area of destination',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F img_stk 2015',2019: 'M/F img_stk 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M img_stk 2015','2019.1': 'M img_stk 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F img_stk 2015','2019.2': 'F img_stk 2019'})

In [6]:
img_stk_gndr.head()

,Sort order,"Major country, area of destination",Notes,Code,Type of data,M/F 1990,M/F 1995,M/F 2000,M/F 2005,M/F 2010,...,M 2010,M img_stk 2015,M img_stk 2019,F 1990,F 1995,F 2000,F 2005,F 2010,F img_stk 2015,F img_stk 2019
0,24,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,115823.0,142790,158163.0,169843,130688,64534,88069,119436,147020.0,162855
1,25,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,6060.0,6071,6047.0,7362,7325,7288,6923,6558,6484.0,6457
2,26,Djibouti,NaN,262,B R,122221,99774,100507,92091,101575,...,53295.0,59081,60654.0,57979,47298,47587,40776,48280,53270.0,54687
3,27,Eritrea,NaN,232,I,11848,12400,12952,14314,15676,...,8603.0,8833,8922.0,5620,5858,6096,6585,7073,7108.0,7179
4,28,Ethiopia,NaN,231,B R,1155390,806904,611384,514242,568748,...,298069.0,591409,637963.0,548106,382787,289165,244517,270679,570233.0,615120

In [7]:
img_stk_gndr=img_stk_gndr.drop(['Sort order','Notes', 'Code', 'Type of data'], axis =1)

In [8]:
img_stk_gndr=img_stk_gndr.rename(columns ={'Major country, area of destination': 'Country'} )

In [9]:
img_stk_gndr.head()

,Country,M/F 1990,M/F 1995,M/F 2000,M/F 2005,M/F 2010,M/F img_stk 2015,M/F img_stk 2019,1990.1,1995.1,...,M 2010,M img_stk 2015,M img_stk 2019,F 1990,F 1995,F 2000,F 2005,F 2010,F img_stk 2015,F img_stk 2019
0,Burundi,333110,254853,125628,172874,235259,289810.0,321018.0,163267,124165,...,115823.0,142790,158163.0,169843,130688,64534,88069,119436,147020.0,162855
1,Comoros,14079,13939,13799,13209,12618,12555.0,12504.0,6717,6614,...,6060.0,6071,6047.0,7362,7325,7288,6923,6558,6484.0,6457
2,Djibouti,122221,99774,100507,92091,101575,112351.0,115341.0,64242,52476,...,53295.0,59081,60654.0,57979,47298,47587,40776,48280,53270.0,54687
3,Eritrea,11848,12400,12952,14314,15676,15941.0,16101.0,6228,6542,...,8603.0,8833,8922.0,5620,5858,6096,6585,7073,7108.0,7179
4,Ethiopia,1155390,806904,611384,514242,568748,1161642.0,1253083.0,607284,424117,...,298069.0,591409,637963.0,548106,382787,289165,244517,270679,570233.0,615120

In [10]:
#importing statistic risk analysis csv.
sra=pd.read_csv("../Data/sra_2021.csv")

In [11]:
# Keeping the columns i want and saving it to another df.
mass_killing_sra=sra[['risk_in_2021_22country', 'ISO3', 'riskrank', '1 in X chance', 'anymk.ongoing', 'anymk.ever', 'imr.sqrt', 
     'gdppcgrowth.combined', 'battledeaths.ln', 'religiousfreedom']]

In [12]:
mass_killing_sra.head()

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom
0,Pakistan,PAK,1,7,1,1,7.463243,0.525527,5.726848,1
1,India,IND,2,7,1,1,5.319774,-7.964610,6.142037,2
2,Yemen,YEM,3,8,0,0,6.603030,-0.059000,7.767687,0
3,Afghanistan,AFG,4,9,1,1,6.819091,-1.934778,9.926911,2
4,Democratic Republic of Congo,COD,5,9,1,1,8.130191,0.773457,6.862758,3

In [13]:
# the battledeaths.ln column needs to be converted because Battle-related deaths are in log 
#(log e*  of battle related deaths plus 1) 
round(-1+np.e**mass_killing_sra['battledeaths.ln'])

0        306.0
1        464.0
2       2362.0
3      20473.0
4        955.0
        ...
157        0.0
158        0.0
159        0.0
160        0.0
161        0.0
Name: battledeaths.ln, Length: 162, dtype: float64

In [14]:
mass_killing_sra=mass_killing_sra.assign(battledeaths=round(-1+np.e**mass_killing_sra['battledeaths.ln']))

In [15]:

mass_killing_sra=mass_killing_sra.assign(percent_chance_of_mass_killing=round(1/mass_killing_sra['1 in X chance'], 4))

In [16]:
# finding the infant mortality rate per 1000 and assigning it to a new column and saving it back to the df.

mass_killing_sra=mass_killing_sra.assign(imr_per_1000=round(mass_killing_sra['imr.sqrt']**2))

In [17]:
mass_killing_sra

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom,battledeaths,percent_chance_of_mass_killing,imr_per_1000
0,Pakistan,PAK,1,7,1,1,7.463243,0.525527,5.726848,1,306.0,0.1429,56.0
1,India,IND,2,7,1,1,5.319774,-7.964610,6.142037,2,464.0,0.1429,28.0
2,Yemen,YEM,3,8,0,0,6.603030,-0.059000,7.767687,0,2362.0,0.1250,44.0
3,Afghanistan,AFG,4,9,1,1,6.819091,-1.934778,9.926911,2,20473.0,0.1111,46.0
4,Democratic Republic of Congo,COD,5,9,1,1,8.130191,0.773457,6.862758,3,955.0,0.1111,66.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,158,791,0,0,1.378405,-2.773577,0.000000,4,0.0,0.0013,2.0
158,Norway,NOR,159,836,0,0,1.414214,-0.762478,0.000000,4,0.0,0.0012,2.0
159,Solomon Islands,SLB,160,858,0,0,4.098780,-4.317260,0.000000,4,0.0,0.0012,17.0
160,Denmark,DNK,161,867,0,0,1.788854,-2.733289,0.000000,4,0.0,0.0012,3.0
161,Estonia,EST,162,935,0,0,1.378405,-2.932248,0.000000,4,0.0,0.0011,2.0

In [18]:
total_unemp_rate=pd.read_csv("../Data/unemployment-rate.csv")

In [19]:
total_unemp_rate

,Entity,Code,Year,"Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,Afghanistan,AFG,1991,11.38
1,Afghanistan,AFG,1992,11.46
2,Afghanistan,AFG,1993,11.61
3,Afghanistan,AFG,1994,11.65
4,Afghanistan,AFG,1995,11.65
...,...,...,...,...
7045,Zimbabwe,ZWE,2016,5.24
7046,Zimbabwe,ZWE,2017,5.15
7047,Zimbabwe,ZWE,2018,5.07
7048,Zimbabwe,ZWE,2019,5.02
7049,Zimbabwe,ZWE,2020,5.73

In [20]:
unemp_rate=total_unemp_rate.rename(columns={'Entity':'Country','Code': 'Country_code', 'Year': 'Year','Unemployment, total (% of total labor force) (modeled ILO estimate)': 'Unemployment %' })

In [21]:
unemp_rate

          Country Country_code  Year  Unemployment %
0     Afghanistan          AFG  1991           11.38
1     Afghanistan          AFG  1992           11.46
2     Afghanistan          AFG  1993           11.61
3     Afghanistan          AFG  1994           11.65
4     Afghanistan          AFG  1995           11.65
...           ...          ...   ...             ...
7045     Zimbabwe          ZWE  2016            5.24
7046     Zimbabwe          ZWE  2017            5.15
7047     Zimbabwe          ZWE  2018            5.07
7048     Zimbabwe          ZWE  2019            5.02
7049     Zimbabwe          ZWE  2020            5.73

[7050 rows x 4 columns]

In [22]:
    
migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15)

In [23]:
migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[*range(16, 888), *range(908, 909), *range(918, 919), *range(924,925),*range(942,944),*range(951, 952), 
                                   *range(970,972), *range(977,978), *range(987,989),*range(996,997), *range(1008,1010), *range(1036,1037), *range(1045,1046),*range(1060,1062),
                                  *range(1064,1065), *range(1070,1071), *range(1078,1079),*range(1088,1091),*range(1101,1102), *range(1115,1116), *range(1132,1133),*range(1142,1143),
                                  *range(1148,1171), *range(1191,1192), *range(1201,1202),*range(1207,1207),*range(1225,1227), *range(1234,1235), *range(1252,1255),*range(1260,1261),
                                  *range(1270,1272), *range(1279,1280), *range(1291,1293),*range(1319,1320),*range(1328,1329), *range(1343,1345), *range(1347,1348),*range(1353,1354),
                                  *range(1361,1362), *range(1371,1374), *range(1384,1385),*range(1398,1399),*range(1415,1416), *range(1425,1426), *range(1431,1454),*range(1474, 1475), *range(1484, 1485), *range(1490,1491),*range(1508,1510),
                                  *range(1517,1518),*range(1536,1538),*range(1543,1544),*range(1553,1555),*range(1562,1563),
                                   *range(1574,1576),*range(1602,1603),*range(1611,1612),*range(1626,1628),*range(1630,1631),
                                  *range(1636,1637),*range(1644,1645),*range(1654,1657),*range(1667,1668),*range(1681,1682),
                                  *range(1698,1699),*range(1708,1709),*range(1714,1737),*range(1757,1758),*range(1767,1768),
                                  *range(1773,1774),*range(1791,1793),*range(1800,1801),*range(1819,1821),*range(1826,1827),
                                   *range(1836,1838),*range(1845,1846),*range(1857,1859),*range(1885,1886),*range(1894,1895),
                                   *range(1909,1911),*range(1913,1914),*range(1919,1920),*range(1927,1928),*range(1937,1940),
                                   *range(1950,1951),*range(1964,1965),*range(1981,1982),*range(1991,1992)]
)

In [24]:
migrant_by_origin_and_dest.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Total,Other South,Other North,Afghanistan,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,2005,2005024,Burundi,NaN,108,B R,172874,12615,3319.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,2005025,Comoros,NaN,174,B,13209,796,630.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,2005026,Djibouti,NaN,262,B R,92091,4134,1377.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218,NaN,NaN
3,2005,2005027,Eritrea,NaN,232,I,14314,1320,603.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,243.0
4,2005,2005028,Ethiopia,NaN,231,B R,514242,38775,12925.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,NaN,NaN

In [25]:
migrant_by_orig=migrant_by_origin_and_dest.rename(columns = {'Unnamed: 0':'Year','Unnamed: 1' :'Sort order',
                                          'Unnamed: 2' : 'Destination Country','Unnamed: 3' :'Notes',
                                  'Unnamed: 4' : 'Code', 'Unnamed: 5':'Type of data'})

In [26]:
migrant_by_orig= migrant_by_orig.loc[:, ~migrant_by_orig.columns.isin(['Sort order','Notes', 'Code', 'Type of data', 'Other South', 'Other North'])]

In [27]:
migrant_by_orig

,Year,Destination Country,Total,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,2005,Burundi,172874,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2005,Comoros,13209,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2005,Djibouti,92091,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,218,NaN,NaN
3,2005,Eritrea,14314,NaN,NaN,NaN,NaN,NaN,480.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,194.0,243.0
4,2005,Ethiopia,514242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,107,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2019,Bermuda,19336,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
924,2019,Canada,7960657,55339.0,16363,68822.0,NaN,NaN,3322.0,68.0,...,6959.0,6799.0,NaN,22130.0,180258.0,NaN,NaN,3151,3956.0,11176.0
925,2019,Greenland,5690,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
926,2019,Saint Pierre and Miquelon,990,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
927,2019,United States of America,50661149,80026.0,99205,21201.0,NaN,NaN,15192.0,NaN,...,56230.0,66093.0,NaN,255141.0,1368746.0,NaN,NaN,49289,26841.0,59895.0

In [28]:
#migrant_by_orig= migrant_by_orig.drop(columns = ['Sort order','Notes','Code','Type of data', 'Other South','Other North'])

In [29]:
migrant_by_orig=migrant_by_orig.fillna(0)

In [30]:
migrant_by_orig=migrant_by_orig.rename(columns={'Destination Country': 'Country'})

In [31]:
migrant_by_orig

,Year,Country,Total,Afghanistan,Albania,Algeria,American Samoa,Andorra,Angola,Anguilla,...,Uruguay,Uzbekistan,Vanuatu,Venezuela (Bolivarian Republic of),Viet Nam,Wallis and Futuna Islands,Western Sahara,Yemen,Zambia,Zimbabwe
0,2005,Burundi,172874,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
1,2005,Comoros,13209,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
2,2005,Djibouti,92091,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,218,0.0,0.0
3,2005,Eritrea,14314,0.0,0,0.0,0.0,0.0,480.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,194.0,243.0
4,2005,Ethiopia,514242,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,107,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
923,2019,Bermuda,19336,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
924,2019,Canada,7960657,55339.0,16363,68822.0,0.0,0.0,3322.0,68.0,...,6959.0,6799.0,0.0,22130.0,180258.0,0.0,0.0,3151,3956.0,11176.0
925,2019,Greenland,5690,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
926,2019,Saint Pierre and Miquelon,990,0.0,0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0,0.0,0.0
927,2019,United States of America,50661149,80026.0,99205,21201.0,0.0,0.0,15192.0,0.0,...,56230.0,66093.0,0.0,255141.0,1368746.0,0.0,0.0,49289,26841.0,59895.0

In [32]:
# Create a list of all column names in migrant_by_orig 
# except for 'Year', 'Country', and 'Total'. 
# These remaining columns represent the destination countries, 
# which we want to reshape/unpivot later using melt().
country_list = migrant_by_orig.columns.difference(['Year', 'Country', 'Total'])

In [33]:
country_by_dest = migrant_by_orig.melt(
    id_vars=['Year', 'Country', 'Total'],
    value_vars=country_list,
    var_name='Destination',
    value_name='Migrants'
)

In [34]:
country_by_dest=migrant_by_orig.melt(id_vars=['Year', 'Country', 'Total'], value_vars= country_list)

In [35]:
country_by_dest

        Year                    Country     Total     variable    value
0       2005                    Burundi    172874  Afghanistan      0.0
1       2005                    Comoros     13209  Afghanistan      0.0
2       2005                   Djibouti     92091  Afghanistan      0.0
3       2005                    Eritrea     14314  Afghanistan      0.0
4       2005                   Ethiopia    514242  Afghanistan      0.0
...      ...                        ...       ...          ...      ...
215291  2019                    Bermuda     19336     Zimbabwe      0.0
215292  2019                     Canada   7960657     Zimbabwe  11176.0
215293  2019                  Greenland      5690     Zimbabwe      0.0
215294  2019  Saint Pierre and Miquelon       990     Zimbabwe      0.0
215295  2019   United States of America  50661149     Zimbabwe  59895.0

[215296 rows x 5 columns]

In [36]:
country_by_dest=country_by_dest.rename(columns = {'Country':'Destination Country','Total': 'Total Migrants at Destination', 'variable': 'Country of Origin', 'value' : 'Total Emigrants'})

In [37]:
country_by_dest

,Year,Destination Country,Total Migrants at Destination,Country of Origin,Total Emigrants
0,2005,Burundi,172874,Afghanistan,0.0
1,2005,Comoros,13209,Afghanistan,0.0
2,2005,Djibouti,92091,Afghanistan,0.0
3,2005,Eritrea,14314,Afghanistan,0.0
4,2005,Ethiopia,514242,Afghanistan,0.0
...,...,...,...,...,...
215291,2019,Bermuda,19336,Zimbabwe,0.0
215292,2019,Canada,7960657,Zimbabwe,11176.0
215293,2019,Greenland,5690,Zimbabwe,0.0
215294,2019,Saint Pierre and Miquelon,990,Zimbabwe,0.0
215295,2019,United States of America,50661149,Zimbabwe,59895.0

In [38]:
print(country_by_dest["Total Migrants at Destination"].dtype)

object

In [39]:
country_by_dest.head(50)

,Year,Destination Country,Total Migrants at Destination,Country of Origin,Total Emigrants
0,2005,Burundi,172874,Afghanistan,0.0
1,2005,Comoros,13209,Afghanistan,0.0
2,2005,Djibouti,92091,Afghanistan,0.0
3,2005,Eritrea,14314,Afghanistan,0.0
4,2005,Ethiopia,514242,Afghanistan,0.0
5,2005,Kenya,773354,Afghanistan,0.0
6,2005,Madagascar,26058,Afghanistan,0.0
7,2005,Malawi,221661,Afghanistan,0.0
8,2005,Mauritius,19647,Afghanistan,0.0
9,2005,Mayotte,63176,Afghanistan,0.0
10,2005,Mozambique,264679,Afghanistan,0.0
11,2005,Réunion,115076,Afghanistan,0.0
12,2005,Rwanda,423187,Afghanistan,0.0
13,2005,Seychelles,8997,Afghanistan,0.0
14,2005,Somalia,20670,Afghanistan,0.0
15,2005,South Sudan,..,Afghanistan,0.0
16,2005,Uganda,593308,Afghanistan,0.0
17,2005,United Republic of Tanzania,771153,Afghanistan,0.0
18,2005,Zambia,252895,Afghanistan,0.0
19,2005,Zimbabwe,402226,Afghanistan,0.0
20,2005,Angola,61329,Afghanistan,0.0
21,2005,Cameroon,265503,Afghanistan,0.0
22,2005,Central African Republic,94449,Afghanistan,0.0
23,2005,Chad,352062,Afghanistan,0.0
24,2005,Congo,318724,Afghanistan,0.0
25,2005,Democratic Republic of the Congo,622869,Afghanistan,0.0
26,2005,Equatorial Guinea,6588,Afghanistan,0.0
27,2005,Gabon,233824,Afghanistan,0.0
28,2005,Sao Tome and Principe,3433,Afghanistan,0.0
29,2005,Botswana,84614,Afghanistan,0.0
30,2005,Eswatini,33392,Afghanistan,0.0
31,2005,Lesotho,6290,Afghanistan,0.0
32,2005,Namibia,107347,Afghanistan,45.0
33,2005,South Africa,1351031,Afghanistan,52.0
34,2005,Benin,221889,Afghanistan,0.0
35,2005,Burkina Faso,597658,Afghanistan,0.0
36,2005,Cabo Verde,12700,Afghanistan,0.0
37,2005,Côte d'Ivoire,2265090,Afghanistan,0.0
38,2005,Gambia,181905,Afghanistan,0.0
39,2005,Ghana,304436,Afghanistan,0.0
40,2005,Guinea,229611,Afghanistan,0.0
41,2005,Guinea-Bissau,20736,Afghanistan,0.0
42,2005,Liberia,87188,Afghanistan,0.0
43,2005,Mali,256797,Afghanistan,0.0
44,2005,Mauritania,58119,Afghanistan,0.0
45,2005,Niger,124461,Afghanistan,0.0
46,2005,Nigeria,969294,Afghanistan,0.0
47,2005,Saint Helena,163,Afghanistan,0.0
48,2005,Senegal,238298,Afghanistan,0.0
49,2005,Sierra Leone,146050,Afghanistan,0.0

In [40]:
country_by_dest = country_by_dest[~country_by_dest.isin([".."]).any(axis=1)]

In [41]:
country_by_dest["Total Migrants at Destination"] = pd.to_numeric(country_by_dest["Total Migrants at Destination"])

C:\Users\ksobi\AppData\Local\Temp\ipykernel_14384\2613761449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  country_by_dest["Total Migrants at Destination"] = pd.to_numeric(country_by_dest["Total Migrants at Destination"])

In [42]:
country_by_dest.groupby("Destination Country")["Total Migrants at Destination"].sum().sort_values(ascending=False).head(10)

Destination Country
United States of America    4.228942e+10
Russian Federation          1.070590e+10
Germany                     9.875608e+09
Saudi Arabia                9.007511e+09
United Kingdom              7.194204e+09
France                      7.019539e+09
Canada                      6.549250e+09
United Arab Emirates        6.305805e+09
Australia                   5.809282e+09
Spain                       5.192787e+09
Name: Total Migrants at Destination, dtype: float64

In [43]:
country_by_dest = country_by_dest[~country_by_dest.isin(["-"]).any(axis=1)]

In [44]:
country_by_dest["Total Emigrants"] = pd.to_numeric(country_by_dest["Total Emigrants"])

In [45]:
country_by_dest.groupby("Country of Origin")["Total Emigrants"].sum().sort_values(ascending=False).head(10)

Country of Origin
India                 56275346.0
Mexico                46953789.0
Russian Federation    41337638.0
China                 36963439.0
Bangladesh            27680101.0
Ukraine               22793061.0
Pakistan              21508318.0
Philippines           19952880.0
Afghanistan           19053007.0
United Kingdom        17781484.0
Name: Total Emigrants, dtype: float64

In [46]:
world_happiness=pd.read_csv("../data/world_happiness_2005_2016.csv")

In [47]:
world_happiness=world_happiness.rename(columns={'Country Name': 'Country'})

In [48]:
world_happiness.head()

,Country,Regional Indicator,Year,Life Ladder,Log GDP Per Capita,Social Support,Healthy Life Expectancy At Birth,Freedom To Make Life Choices,Generosity,Perceptions Of Corruption,Positive Affect,Negative Affect,Confidence In National Government
0,Afghanistan,South Asia,2008,3.723590,7.350416,0.450662,50.500000,0.718114,0.167652,0.881686,0.414297,0.258195,0.612072
1,Afghanistan,South Asia,2009,4.401778,7.508646,0.552308,50.799999,0.678896,0.190809,0.850035,0.481421,0.237092,0.611545
2,Afghanistan,South Asia,2010,4.758381,7.613900,0.539075,51.099998,0.600127,0.121316,0.706766,0.516907,0.275324,0.299357
3,Afghanistan,South Asia,2011,3.831719,7.581259,0.521104,51.400002,0.495901,0.163571,0.731109,0.479835,0.267175,0.307386
4,Afghanistan,South Asia,2012,3.782938,7.660506,0.520637,51.700001,0.530935,0.237588,0.775620,0.613513,0.267919,0.435440

In [49]:
suicide_rate=pd.read_csv("../data/suicide_rates_1985-2016.csv")

In [50]:
suicide_rate=suicide_rate.rename(columns={'country': 'Country'})

In [51]:
suicide_rate.head()

,Country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers

In [155]:
 suicide_rate.to_csv('../../../../NSS Advanced PBI/Adv_PBI_Capstone/suicide_rate.csv')

In [157]:
 world_happiness.to_csv('../../../../NSS Advanced PBI/Adv_PBI_Capstone/world_happiness.csv')

PermissionError: [Errno 13] Permission denied: '../../../../NSS Advanced PBI/Adv_PBI_Capstone/world_happiness.csv'

In [ ]:
country_by_dest.to_csv('../../../../NSS Advanced PBI/Adv_PBI_Capstone/country_by_dest.csv')

In [ ]:
country_pop=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 2',
              header=15, skiprows=[i for i in range (16,39)])

In [56]:
country_pop=country_pop.loc[~(country_pop['Unnamed: 0']==44)& ~(country_pop['Unnamed: 0']==54) & ~(country_pop['Unnamed: 0']==60)
                   & ~(country_pop['Unnamed: 0']==78) & ~(country_pop['Unnamed: 0']==79) & ~(country_pop['Unnamed: 0']==87)
                   & ~(country_pop['Unnamed: 0']==106) & ~(country_pop['Unnamed: 0']==107) & ~(country_pop['Unnamed: 0']==113)
                   & ~(country_pop['Unnamed: 0']==123) & ~(country_pop['Unnamed: 0']==124) & ~(country_pop['Unnamed: 0']==132)
                   & ~(country_pop['Unnamed: 0']==144) & ~(country_pop['Unnamed: 0']==145) & ~(country_pop['Unnamed: 0']==172)
                   & ~(country_pop['Unnamed: 0']==181) & ~(country_pop['Unnamed: 0']==196) & ~(country_pop['Unnamed: 0']==197)
                   & ~(country_pop['Unnamed: 0']==200) & ~(country_pop['Unnamed: 0']==206) & ~(country_pop['Unnamed: 0']==214)
                   & ~(country_pop['Unnamed: 0']==224) & ~(country_pop['Unnamed: 0']==225) & ~(country_pop['Unnamed: 0']==226)
                   & ~(country_pop['Unnamed: 0']==237) & ~(country_pop['Unnamed: 0']==251) & ~(country_pop['Unnamed: 0']==268)
                   & ~(country_pop['Unnamed: 0']==278)]

In [57]:
# renaming the columns but toward 2010 i had to put the column in '' because its not a str. so you'll see the first few
#columns in green and then it'll be all in ''.

country_pop=country_pop.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Country',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F pop 2015',2019: 'M/F pop 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M pop 2015','2019.1': 'M pop 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F pop 2015','2019.2': 'F pop 2019'})

In [58]:
country_pop

,Sort order,Country,Notes,Code,M/F 1990,M/F 1995,M/F 2000,M/F 2005,M/F 2010,M/F pop 2015,...,M 2010,M pop 2015,M pop 2019,F 1990,F 1995,F 2000,F 2005,F 2010,F pop 2015,F pop 2019
0,24,Burundi,NaN,108,5438.957,5987.043,6378.871,7364.862,8675.602,10160.030,...,4287.851,5030.735,5718.988,2774.306,3061.896,3246.943,3735.55,4387.755,5129.299,5811.589
1,25,Comoros,NaN,174,411.594,475.394,542.357,611.627,689.692,777.424,...,347.627,392.089,429.21,205.212,236.593,269.505,303.613,342.069,385.346,421.681
2,26,Djibouti,NaN,262,590.398,630.388,717.584,783.254,840.198,913.993,...,447.092,483.117,511.947,293.434,313.216,356.818,389.622,393.102,430.881,461.61
3,27,Eritrea,NaN,232,2258.653,2204.222,2292.416,2826.659,3170.435,3342.818,...,1584.072,1674.33,1752.711,1129.111,1107.243,1151.345,1416.324,1586.365,1668.488,1744.406
4,28,Ethiopia,NaN,231,47887.865,57047.908,66224.804,76346.311,87639.964,100835.458,...,43727.479,50408.589,56069.008,24007.485,28607.127,33205.382,38272.232,43912.483,50426.864,56009.719
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,61.634,63.442,65.012,66.257,65.389,63.692,...,..,..,..,..,..,..,..,..,..,..
256,280,Canada,NaN,124,27541.319,29164.152,30588.383,32164.309,34147.564,36026.676,...,16941.808,17864.138,18563.538,13884.674,14726.014,15436.061,16218.869,17205.758,18162.53,18847.5
257,281,Greenland,NaN,304,55.604,55.811,56.175,56.951,56.638,56.377,...,..,..,..,..,..,..,..,..,..,..
258,282,Saint Pierre and Miquelon,NaN,666,6.393,6.392,6.294,6.123,6.353,5.993,...,..,..,..,..,..,..,..,..,..,..
259,283,United States of America,NaN,840,252120.309,265163.745,281710.909,294993.511,309011.475,320878.310,...,152610.91,158712.121,162826.299,128570.956,134885.042,142949.326,149425.428,156400.559,162166.191,166238.618

In [59]:
country_pop['M/F 2005']=1000 * country_pop['M/F 2005']

In [60]:
country_pop['M/F 2010']=1000 * country_pop['M/F 2010']

In [61]:
country_pop['M/F pop 2015']=1000 * country_pop['M/F pop 2015']

In [62]:
country_pop['M/F pop 2019']=1000 * country_pop['M/F pop 2019']

In [63]:
country_pop=country_pop[['Country','M/F 2005','M/F 2010','M/F pop 2015', 'M/F pop 2019']]

In [64]:
country_pop=country_pop.dropna()

In [65]:
country_pop.head()

    Country    M/F 2005    M/F 2010  M/F pop 2015  M/F pop 2019
0   Burundi   7364862.0   8675602.0    10160030.0    11530580.0
1   Comoros    611627.0    689692.0      777424.0      850886.0
2  Djibouti    783254.0    840198.0      913993.0      973560.0
3   Eritrea   2826659.0   3170435.0     3342818.0     3497117.0
4  Ethiopia  76346311.0  87639964.0   100835458.0   112078730.0

In [66]:
country_pop.columns =['Country', '2005', '2010','2015', '2019']

In [67]:
country_pop_per100K=country_pop

In [68]:
country_pop_per100K

,Country,2005,2010,2015,2019
0,Burundi,7364862.0,8675602.0,10160030.0,11530580.0
1,Comoros,611627.0,689692.0,777424.0,850886.0
2,Djibouti,783254.0,840198.0,913993.0,973560.0
3,Eritrea,2826659.0,3170435.0,3342818.0,3497117.0
4,Ethiopia,76346311.0,87639964.0,100835458.0,112078730.0
...,...,...,...,...,...
255,Bermuda,66257.0,65389.0,63692.0,62506.0
256,Canada,32164309.0,34147564.0,36026676.0,37411047.0
257,Greenland,56951.0,56638.0,56377.0,56672.0
258,Saint Pierre and Miquelon,6123.0,6353.0,5993.0,5822.0
259,United States of America,294993511.0,309011475.0,320878310.0,329064917.0

In [161]:
country_pop_per100K.to_csv('../../../../NSS Advanced PBI/Adv_PBI_Capstone/country_pop_per100K.csv')

In [163]:
country_by_dest.to_csv('../../../../NSS Advanced PBI/Adv_PBI_Capstone/country_by_dest_2005-2019.csv')