In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sqlite

In [2]:
import pandas as pd

# Example DataFrame with the number in scientific notation
df = pd.DataFrame({'total_drug_cost': [1.050805e+08]})

# Convert to integer to avoid scientific notation and print the value
df['total_drug_cost'] = df['total_drug_cost'].astype(int)

# Display the result without scientific notation
pd.set_option('display.float_format', '{:.0f}'.format)

print(df)

   total_drug_cost
0        105080500

In [3]:
df = pd.DataFrame({'total_drug_cost': [1.050805e+08]})

# Multiply the value by 100,000,000
df['total_drug_cost'] = df['total_drug_cost'] * 100_000_000

#pd.reset_option('display.float_format')
pd.set_option('display.float_format', '{:.0f}'.format)
print(df)

    total_drug_cost
0 10508050000000000

In [4]:
# reading in excel table 1(immigrant stock) while moving the the header 15 rows up and skipping rows 16-39

immigrantstock=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (16,39)])

In [5]:
immigrantstock

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,1990,1995,2000,2005,2010,...,2010.1,2015.1,2019.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2019.2
0,24,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,115823,142790,158163,169843,130688,64534,88069,119436,147020,162855
1,25,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,6060,6071,6047,7362,7325,7288,6923,6558,6484,6457
2,26,Djibouti,NaN,262,B R,122221,99774,100507,92091,101575,...,53295,59081,60654,57979,47298,47587,40776,48280,53270,54687
3,27,Eritrea,NaN,232,I,11848,12400,12952,14314,15676,...,8603,8833,8922,5620,5858,6096,6585,7073,7108,7179
4,28,Ethiopia,NaN,231,B R,1155390,806904,611384,514242,568748,...,298069,591409,637963,548106,382787,289165,244517,270679,570233,615120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,B,15683,16676,17668,18276,18884,...,9202,9336,9439,8126,8632,9137,9410,9682,9790,9897
256,280,Canada,NaN,124,B,4333318,4864778,5511914,6078985,6761226,...,3236539,3533164,3786190,2223666,2508673,2852779,3163147,3524687,3895493,4174467
257,281,Greenland,NaN,304,B,9282,7121,6601,6556,6091,...,4119,3812,3742,2810,2246,1985,2095,1972,1985,1948
258,282,Saint Pierre and Miquelon,NaN,666,B,1099,1320,1458,1147,1017,...,531,516,519,539,638,702,550,486,470,471
259,283,United States of America,NaN,840,B,23251026,28451053,34814053,39258293,44183643,...,21694169,23446873,24488382,11878041,14418894,17503268,19643415,22489474,24732004,26172767

In [6]:
# dropping the columns highlighted in blue in the excel sprdsheet(ones i dont want)
immigrantstock=immigrantstock.loc[~(immigrantstock['Unnamed: 0']==44)& ~(immigrantstock['Unnamed: 0']==54) & ~(immigrantstock['Unnamed: 0']==60)
                   & ~(immigrantstock['Unnamed: 0']==78) & ~(immigrantstock['Unnamed: 0']==79) & ~(immigrantstock['Unnamed: 0']==87)
                   & ~(immigrantstock['Unnamed: 0']==106) & ~(immigrantstock['Unnamed: 0']==107) & ~(immigrantstock['Unnamed: 0']==113)
                   & ~(immigrantstock['Unnamed: 0']==123) & ~(immigrantstock['Unnamed: 0']==124) & ~(immigrantstock['Unnamed: 0']==132)
                   & ~(immigrantstock['Unnamed: 0']==144) & ~(immigrantstock['Unnamed: 0']==145) & ~(immigrantstock['Unnamed: 0']==172)
                   & ~(immigrantstock['Unnamed: 0']==181) & ~(immigrantstock['Unnamed: 0']==196) & ~(immigrantstock['Unnamed: 0']==197)
                   & ~(immigrantstock['Unnamed: 0']==200) & ~(immigrantstock['Unnamed: 0']==206) & ~(immigrantstock['Unnamed: 0']==214)
                   & ~(immigrantstock['Unnamed: 0']==224) & ~(immigrantstock['Unnamed: 0']==225) & ~(immigrantstock['Unnamed: 0']==226)
                   & ~(immigrantstock['Unnamed: 0']==237) & ~(immigrantstock['Unnamed: 0']==251) & ~(immigrantstock['Unnamed: 0']==268)
                   & ~(immigrantstock['Unnamed: 0']==278)]

In [7]:
# renaming the columns but toward 2010 i had to put the column in '' because its not a str. so you'll see the first few
#columns in green and then it'll be all in ''.

img_stk_gndr=immigrantstock.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Major country, area of destination',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F img_stk 2015',2019: 'M/F img_stk 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M img_stk 2015','2019.1': 'M img_stk 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F img_stk 2015','2019.2': 'F img_stk 2019'})

In [8]:
img_stk_gndr

,Sort order,"Major country, area of destination",Notes,Code,Type of data,M/F 1990,M/F 1995,M/F 2000,M/F 2005,M/F 2010,...,M 2010,M img_stk 2015,M img_stk 2019,F 1990,F 1995,F 2000,F 2005,F 2010,F img_stk 2015,F img_stk 2019
0,24,Burundi,NaN,108,B R,333110,254853,125628,172874,235259,...,115823,142790,158163,169843,130688,64534,88069,119436,147020,162855
1,25,Comoros,NaN,174,B,14079,13939,13799,13209,12618,...,6060,6071,6047,7362,7325,7288,6923,6558,6484,6457
2,26,Djibouti,NaN,262,B R,122221,99774,100507,92091,101575,...,53295,59081,60654,57979,47298,47587,40776,48280,53270,54687
3,27,Eritrea,NaN,232,I,11848,12400,12952,14314,15676,...,8603,8833,8922,5620,5858,6096,6585,7073,7108,7179
4,28,Ethiopia,NaN,231,B R,1155390,806904,611384,514242,568748,...,298069,591409,637963,548106,382787,289165,244517,270679,570233,615120
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,B,15683,16676,17668,18276,18884,...,9202,9336,9439,8126,8632,9137,9410,9682,9790,9897
256,280,Canada,NaN,124,B,4333318,4864778,5511914,6078985,6761226,...,3236539,3533164,3786190,2223666,2508673,2852779,3163147,3524687,3895493,4174467
257,281,Greenland,NaN,304,B,9282,7121,6601,6556,6091,...,4119,3812,3742,2810,2246,1985,2095,1972,1985,1948
258,282,Saint Pierre and Miquelon,NaN,666,B,1099,1320,1458,1147,1017,...,531,516,519,539,638,702,550,486,470,471
259,283,United States of America,NaN,840,B,23251026,28451053,34814053,39258293,44183643,...,21694169,23446873,24488382,11878041,14418894,17503268,19643415,22489474,24732004,26172767

In [9]:
#keeping what I need from the above table to an new table named img_stk_2yrs (only keeping 2yrs of data)

img_stk_2yrs=img_stk_gndr[['Sort order','Major country, area of destination','M/F img_stk 2015', 'M/F img_stk 2019',
                           'M img_stk 2015', 'M img_stk 2019','F img_stk 2015', 'F img_stk 2019' ]]

In [10]:
img_stk_2yrs

,Sort order,"Major country, area of destination",M/F img_stk 2015,M/F img_stk 2019,M img_stk 2015,M img_stk 2019,F img_stk 2015,F img_stk 2019
0,24,Burundi,289810,321018,142790,158163,147020,162855
1,25,Comoros,12555,12504,6071,6047,6484,6457
2,26,Djibouti,112351,115341,59081,60654,53270,54687
3,27,Eritrea,15941,16101,8833,8922,7108,7179
4,28,Ethiopia,1161642,1253083,591409,637963,570233,615120
...,...,...,...,...,...,...,...,...
255,279,Bermuda,19126,19336,9336,9439,9790,9897
256,280,Canada,7428657,7960657,3533164,3786190,3895493,4174467
257,281,Greenland,5797,5690,3812,3742,1985,1948
258,282,Saint Pierre and Miquelon,986,990,516,519,470,471
259,283,United States of America,48178877,50661149,23446873,24488382,24732004,26172767

In [11]:
# reading in excel Table 2 (country population table)while moving the the header 15 rows up and skipping rows 16-39
country_pop=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 2',
              header=15, skiprows=[i for i in range (16,39)])

In [12]:
country_pop

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,1990,1995,2000,2005,2010,2015,...,2010.1,2015.1,2019.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2019.2
0,24,Burundi,NaN,108,5439,5987,6379,7365,8676,10160,...,4288,5031,5719,2774,3062,3247,3736,4388,5129,5812
1,25,Comoros,NaN,174,412,475,542,612,690,777,...,348,392,429,205,237,270,304,342,385,422
2,26,Djibouti,NaN,262,590,630,718,783,840,914,...,447,483,512,293,313,357,390,393,431,462
3,27,Eritrea,NaN,232,2259,2204,2292,2827,3170,3343,...,1584,1674,1753,1129,1107,1151,1416,1586,1668,1744
4,28,Ethiopia,NaN,231,47888,57048,66225,76346,87640,100835,...,43727,50409,56069,24007,28607,33205,38272,43912,50427,56010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,62,63,65,66,65,64,...,..,..,..,..,..,..,..,..,..,..
256,280,Canada,NaN,124,27541,29164,30588,32164,34148,36027,...,16942,17864,18564,13885,14726,15436,16219,17206,18163,18848
257,281,Greenland,NaN,304,56,56,56,57,57,56,...,..,..,..,..,..,..,..,..,..,..
258,282,Saint Pierre and Miquelon,NaN,666,6,6,6,6,6,6,...,..,..,..,..,..,..,..,..,..,..
259,283,United States of America,NaN,840,252120,265164,281711,294994,309011,320878,...,152611,158712,162826,128571,134885,142949,149425,156401,162166,166239

In [13]:
# dropping the rows highlighted in blue in the excel sprdsheet(ones i dont want)

country_pop=country_pop.loc[~(country_pop['Unnamed: 0']==44)& ~(country_pop['Unnamed: 0']==54) & ~(country_pop['Unnamed: 0']==60)
                   & ~(country_pop['Unnamed: 0']==78) & ~(country_pop['Unnamed: 0']==79) & ~(country_pop['Unnamed: 0']==87)
                   & ~(country_pop['Unnamed: 0']==106) & ~(country_pop['Unnamed: 0']==107) & ~(country_pop['Unnamed: 0']==113)
                   & ~(country_pop['Unnamed: 0']==123) & ~(country_pop['Unnamed: 0']==124) & ~(country_pop['Unnamed: 0']==132)
                   & ~(country_pop['Unnamed: 0']==144) & ~(country_pop['Unnamed: 0']==145) & ~(country_pop['Unnamed: 0']==172)
                   & ~(country_pop['Unnamed: 0']==181) & ~(country_pop['Unnamed: 0']==196) & ~(country_pop['Unnamed: 0']==197)
                   & ~(country_pop['Unnamed: 0']==200) & ~(country_pop['Unnamed: 0']==206) & ~(country_pop['Unnamed: 0']==214)
                   & ~(country_pop['Unnamed: 0']==224) & ~(country_pop['Unnamed: 0']==225) & ~(country_pop['Unnamed: 0']==226)
                   & ~(country_pop['Unnamed: 0']==237) & ~(country_pop['Unnamed: 0']==251) & ~(country_pop['Unnamed: 0']==268)
                   & ~(country_pop['Unnamed: 0']==278)]

In [14]:
country_pop

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,1990,1995,2000,2005,2010,2015,...,2010.1,2015.1,2019.1,1990.2,1995.2,2000.2,2005.2,2010.2,2015.2,2019.2
0,24,Burundi,NaN,108,5439,5987,6379,7365,8676,10160,...,4288,5031,5719,2774,3062,3247,3736,4388,5129,5812
1,25,Comoros,NaN,174,412,475,542,612,690,777,...,348,392,429,205,237,270,304,342,385,422
2,26,Djibouti,NaN,262,590,630,718,783,840,914,...,447,483,512,293,313,357,390,393,431,462
3,27,Eritrea,NaN,232,2259,2204,2292,2827,3170,3343,...,1584,1674,1753,1129,1107,1151,1416,1586,1668,1744
4,28,Ethiopia,NaN,231,47888,57048,66225,76346,87640,100835,...,43727,50409,56069,24007,28607,33205,38272,43912,50427,56010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,62,63,65,66,65,64,...,..,..,..,..,..,..,..,..,..,..
256,280,Canada,NaN,124,27541,29164,30588,32164,34148,36027,...,16942,17864,18564,13885,14726,15436,16219,17206,18163,18848
257,281,Greenland,NaN,304,56,56,56,57,57,56,...,..,..,..,..,..,..,..,..,..,..
258,282,Saint Pierre and Miquelon,NaN,666,6,6,6,6,6,6,...,..,..,..,..,..,..,..,..,..,..
259,283,United States of America,NaN,840,252120,265164,281711,294994,309011,320878,...,152611,158712,162826,128571,134885,142949,149425,156401,162166,166239

In [15]:
# renaming the columns but toward 2010 i had to put the column in '' because its not a str. so you'll see the first few
#columns in green and then it'll be all in ''.

country_pop=country_pop.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Country',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F pop 2015',2019: 'M/F pop 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M pop 2015','2019.1': 'M pop 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F pop 2015','2019.2': 'F pop 2019'})

In [16]:
country_pop

,Sort order,Country,Notes,Code,M/F 1990,M/F 1995,M/F 2000,M/F 2005,M/F 2010,M/F pop 2015,...,M 2010,M pop 2015,M pop 2019,F 1990,F 1995,F 2000,F 2005,F 2010,F pop 2015,F pop 2019
0,24,Burundi,NaN,108,5439,5987,6379,7365,8676,10160,...,4288,5031,5719,2774,3062,3247,3736,4388,5129,5812
1,25,Comoros,NaN,174,412,475,542,612,690,777,...,348,392,429,205,237,270,304,342,385,422
2,26,Djibouti,NaN,262,590,630,718,783,840,914,...,447,483,512,293,313,357,390,393,431,462
3,27,Eritrea,NaN,232,2259,2204,2292,2827,3170,3343,...,1584,1674,1753,1129,1107,1151,1416,1586,1668,1744
4,28,Ethiopia,NaN,231,47888,57048,66225,76346,87640,100835,...,43727,50409,56069,24007,28607,33205,38272,43912,50427,56010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,279,Bermuda,NaN,60,62,63,65,66,65,64,...,..,..,..,..,..,..,..,..,..,..
256,280,Canada,NaN,124,27541,29164,30588,32164,34148,36027,...,16942,17864,18564,13885,14726,15436,16219,17206,18163,18848
257,281,Greenland,NaN,304,56,56,56,57,57,56,...,..,..,..,..,..,..,..,..,..,..
258,282,Saint Pierre and Miquelon,NaN,666,6,6,6,6,6,6,...,..,..,..,..,..,..,..,..,..,..
259,283,United States of America,NaN,840,252120,265164,281711,294994,309011,320878,...,152611,158712,162826,128571,134885,142949,149425,156401,162166,166239

In [17]:
country_pop.loc[country_pop['M/F pop 2015'].idxmax()]

Sort order         125
Country          China
Notes                9
Code               156
M/F 1990       1197362
M/F 1995       1262277
M/F 2000       1312517
M/F 2005       1353482
M/F 2010       1391998
M/F pop 2015   1430405
M/F pop 2019   1457558
1990.1          614393
1995.1          647599
2000.1          673346
2005.1          694980
M 2010          715068
M pop 2015      734274
M pop 2019      747448
F 1990          582969
F 1995          614678
F 2000          639171
F 2005          658502
F 2010          676930
F pop 2015      696131
F pop 2019      710109
Name: 101, dtype: object

In [18]:
# multiplying each column pop by 1000 coz the pop is in million.

country_pop['M/F pop 2015']=1000 * country_pop['M/F pop 2015']

In [19]:
country_pop['M/F pop 2019']=1000 * country_pop['M/F pop 2019']

In [20]:
country_pop['M pop 2015']=1000* country_pop['M pop 2015']

In [21]:
country_pop['M pop 2019']=1000 *country_pop['M pop 2019']

In [22]:
country_pop['F pop 2015']=1000*country_pop['F pop 2015']

In [23]:
country_pop['F pop 2019']=1000*country_pop['F pop 2019']

In [24]:
country_pop=country_pop[['Sort order','Country','M/F pop 2015', 'M/F pop 2019','M pop 2015', 'M pop 2019','F pop 2015', 'F pop 2019' ]]

In [25]:
country_pop=country_pop.dropna()

In [26]:
country_pop.head()

,Sort order,Country,M/F pop 2015,M/F pop 2019,M pop 2015,M pop 2019,F pop 2015,F pop 2019
0,24,Burundi,10160030,11530580,5030735,5718988,5129299,5811589
1,25,Comoros,777424,850886,392089,429210,385346,421681
2,26,Djibouti,913993,973560,483117,511947,430881,461610
3,27,Eritrea,3342818,3497117,1674330,1752711,1668488,1744406
4,28,Ethiopia,100835458,112078730,50408589,56069008,50426864,56009719

In [27]:
#importing statistic risk analysis csv.
sra=pd.read_csv("../Data/sra_2021.csv")

In [28]:
sra

,risk_in_2021_22country,SFTGcode,ISO3,COW,risk_in_2021,risk2,riskrank,1 in X chance,anymk.ongoing,anymk.ever,...,freemove_men4,freemove_women4,freediscussion,social_inequality,even_civilrights,repress_civilsoc,social_power_dist,ses_power_dist,tradeshare.ln.combined,coup.try.5yr
0,Pakistan,PAK,PAK,770,0,0,1,7,1,1,...,0,0,1,1,0,0,1,-1,3,0
1,India,IND,IND,750,0,0,2,7,1,1,...,0,0,1,0,0,0,1,0,4,0
2,Yemen,YEM,YEM,679,0,0,3,8,0,0,...,0,0,0,1,0,0,1,-1,-3,0
3,Afghanistan,AFG,AFG,700,0,0,4,9,1,1,...,0,0,1,0,0,0,1,-1,4,0
4,Democratic Republic of Congo,ZAI,COD,490,0,0,5,9,1,1,...,0,0,1,0,0,0,1,-1,4,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,FIN,375,0,0,158,791,0,0,...,1,1,1,0,1,0,0,2,4,0
158,Norway,NOR,NOR,385,0,0,159,836,0,0,...,1,1,1,0,1,0,0,2,4,0
159,Solomon Islands,SOL,SLB,940,0,0,160,858,0,0,...,1,0,1,0,1,0,0,0,4,0
160,Denmark,DEN,DNK,390,0,0,161,867,0,0,...,1,1,1,0,1,0,0,2,5,0
161,Estonia,EST,EST,366,0,0,162,935,0,0,...,1,1,1,0,1,0,0,1,5,0

In [29]:
# Keeping the columns i want and saving it to another df.
mass_killing_sra=sra[['risk_in_2021_22country', 'ISO3', 'riskrank', '1 in X chance', 'anymk.ongoing', 'anymk.ever', 'imr.sqrt', 
     'gdppcgrowth.combined', 'battledeaths.ln', 'religiousfreedom']]

In [30]:
mass_killing_sra

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom
0,Pakistan,PAK,1,7,1,1,7,1,6,1
1,India,IND,2,7,1,1,5,-8,6,2
2,Yemen,YEM,3,8,0,0,7,-0,8,0
3,Afghanistan,AFG,4,9,1,1,7,-2,10,2
4,Democratic Republic of Congo,COD,5,9,1,1,8,1,7,3
...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,158,791,0,0,1,-3,0,4
158,Norway,NOR,159,836,0,0,1,-1,0,4
159,Solomon Islands,SLB,160,858,0,0,4,-4,0,4
160,Denmark,DNK,161,867,0,0,2,-3,0,4
161,Estonia,EST,162,935,0,0,1,-3,0,4

In [31]:
# the battledeaths.ln column needs to be converted because Battle-related deaths are in log 
#(log e*  of battle related deaths plus 1) 
round(-1+np.e**mass_killing_sra['battledeaths.ln'])

0       306
1       464
2      2362
3     20473
4       955
       ...
157       0
158       0
159       0
160       0
161       0
Name: battledeaths.ln, Length: 162, dtype: float64

In [32]:
#after converting the battlereaths to the actual number i assigned the answer to a new column.

mass_killing_sra=mass_killing_sra.assign(battledeaths=round(-1+np.e**mass_killing_sra['battledeaths.ln']))

In [33]:
mass_killing_sra

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom,battledeaths
0,Pakistan,PAK,1,7,1,1,7,1,6,1,306
1,India,IND,2,7,1,1,5,-8,6,2,464
2,Yemen,YEM,3,8,0,0,7,-0,8,0,2362
3,Afghanistan,AFG,4,9,1,1,7,-2,10,2,20473
4,Democratic Republic of Congo,COD,5,9,1,1,8,1,7,3,955
...,...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,158,791,0,0,1,-3,0,4,0
158,Norway,NOR,159,836,0,0,1,-1,0,4,0
159,Solomon Islands,SLB,160,858,0,0,4,-4,0,4,0
160,Denmark,DNK,161,867,0,0,2,-3,0,4,0
161,Estonia,EST,162,935,0,0,1,-3,0,4,0

In [34]:
# dividing all the values in ['1 in X chance'] to get the percentage chance of mass killing
round(1/mass_killing_sra['1 in X chance'], 4)

0     0
1     0
2     0
3     0
4     0
      ..
157   0
158   0
159   0
160   0
161   0
Name: 1 in X chance, Length: 162, dtype: float64

In [35]:
# dividing all the values in ['1 in X chance'] to get the percentage chance of mass killing and assigning it in a new column
#and saving it back to the df..

mass_killing_sra=mass_killing_sra.assign(percent_chance_of_mass_killing=round(1/mass_killing_sra['1 in X chance'], 4))

In [36]:
mass_killing_sra

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom,battledeaths,percent_chance_of_mass_killing
0,Pakistan,PAK,1,7,1,1,7,1,6,1,306,0
1,India,IND,2,7,1,1,5,-8,6,2,464,0
2,Yemen,YEM,3,8,0,0,7,-0,8,0,2362,0
3,Afghanistan,AFG,4,9,1,1,7,-2,10,2,20473,0
4,Democratic Republic of Congo,COD,5,9,1,1,8,1,7,3,955,0
...,...,...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,158,791,0,0,1,-3,0,4,0,0
158,Norway,NOR,159,836,0,0,1,-1,0,4,0,0
159,Solomon Islands,SLB,160,858,0,0,4,-4,0,4,0,0
160,Denmark,DNK,161,867,0,0,2,-3,0,4,0,0
161,Estonia,EST,162,935,0,0,1,-3,0,4,0,0

In [37]:
round(mass_killing_sra['imr.sqrt']**2)

0     56
1     28
2     44
3     46
4     66
      ..
157    2
158    2
159   17
160    3
161    2
Name: imr.sqrt, Length: 162, dtype: float64

In [38]:
# finding the infant mortality rate per 1000 and assigning it to a new column and saving it back to the df.

mass_killing_sra=mass_killing_sra.assign(imr_per_1000=round(mass_killing_sra['imr.sqrt']**2))

In [39]:
mass_killing_sra

,risk_in_2021_22country,ISO3,riskrank,1 in X chance,anymk.ongoing,anymk.ever,imr.sqrt,gdppcgrowth.combined,battledeaths.ln,religiousfreedom,battledeaths,percent_chance_of_mass_killing,imr_per_1000
0,Pakistan,PAK,1,7,1,1,7,1,6,1,306,0,56
1,India,IND,2,7,1,1,5,-8,6,2,464,0,28
2,Yemen,YEM,3,8,0,0,7,-0,8,0,2362,0,44
3,Afghanistan,AFG,4,9,1,1,7,-2,10,2,20473,0,46
4,Democratic Republic of Congo,COD,5,9,1,1,8,1,7,3,955,0,66
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157,Finland,FIN,158,791,0,0,1,-3,0,4,0,0,2
158,Norway,NOR,159,836,0,0,1,-1,0,4,0,0,2
159,Solomon Islands,SLB,160,858,0,0,4,-4,0,4,0,0,17
160,Denmark,DNK,161,867,0,0,2,-3,0,4,0,0,3
161,Estonia,EST,162,935,0,0,1,-3,0,4,0,0,2

In [40]:
total_unemp_rate=pd.read_csv("../Data/unemployment-rate.csv")

In [41]:
total_unemp_rate

,Entity,Code,Year,"Unemployment, total (% of total labor force) (modeled ILO estimate)"
0,Afghanistan,AFG,1991,11
1,Afghanistan,AFG,1992,11
2,Afghanistan,AFG,1993,12
3,Afghanistan,AFG,1994,12
4,Afghanistan,AFG,1995,12
...,...,...,...,...
7045,Zimbabwe,ZWE,2016,5
7046,Zimbabwe,ZWE,2017,5
7047,Zimbabwe,ZWE,2018,5
7048,Zimbabwe,ZWE,2019,5
7049,Zimbabwe,ZWE,2020,6

In [42]:
# only keep 2 yrs (2015 and 2019) by using the .loc method/

unemp_rate=total_unemp_rate.loc[(total_unemp_rate['Year']== 2015)|(total_unemp_rate['Year']== 2019) ]

In [43]:
unemp_rate

,Entity,Code,Year,"Unemployment, total (% of total labor force) (modeled ILO estimate)"
24,Afghanistan,AFG,2015,11
28,Afghanistan,AFG,2019,11
54,Africa Eastern and Southern,NaN,2015,6
58,Africa Eastern and Southern,NaN,2019,6
84,Africa Western and Central,NaN,2015,5
...,...,...,...,...
6988,Yemen,YEM,2019,13
7014,Zambia,ZMB,2015,10
7018,Zambia,ZMB,2019,12
7044,Zimbabwe,ZWE,2015,5
7048,Zimbabwe,ZWE,2019,5

In [44]:
unemp_rate=unemp_rate.rename(columns={'Entity':'Country','Code': 'Country_code', 'Year': 'Year','Unemployment, total (% of total labor force) (modeled ILO estimate)': 'Unemployment %' })

In [45]:
unemp_rate.head()

                        Country Country_code  Year  Unemployment %
24                  Afghanistan          AFG  2015              11
28                  Afghanistan          AFG  2019              11
54  Africa Eastern and Southern          NaN  2015               6
58  Africa Eastern and Southern          NaN  2019               6
84   Africa Western and Central          NaN  2015               5

In [46]:
import requests

In [47]:
URL = 'https://en.wikipedia.org/wiki/Global_Peace_Index'

response = requests.get(URL)

In [48]:
type(response)

requests.models.Response

In [49]:
response.status_code

403

In [50]:
response.text

'Please set a user-agent and respect our robot policy https://w.wiki/4wJS. See also T400119.\n'

In [51]:
from bs4 import BeautifulSoup as BS

In [52]:
soup = BS(response.text)

C:\Users\ksobi\AppData\Local\Temp\ipykernel_32896\2539562240.py:1: MarkupResemblesLocatorWarning: The input looks more like a filename than markup. You may want to open this file and pass the filehandle into Beautiful Soup.
  soup = BS(response.text)

In [53]:
soup

<html><body><p>Please set a user-agent and respect our robot policy https://w.wiki/4wJS. See also T400119.
</p></body></html>

In [54]:
print(soup.prettify())

<html>
 <body>
  <p>
   Please set a user-agent and respect our robot policy https://w.wiki/4wJS. See also T400119.
  </p>
 </body>
</html>

In [55]:
soup.findAll('table')

[]

In [56]:
soup.find('table', class_ =  'sortable')

In [57]:
table_html = str(soup.find('table', class_= 'sortable'))

from IPython.core.display import HTML

HTML(table_html)

In [58]:
gp2=pd.read_html(str(table_html))[0]

C:\Users\ksobi\AppData\Local\Temp\ipykernel_32896\604072818.py:1: FutureWarning: Passing literal html to 'read_html' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  gp2=pd.read_html(str(table_html))[0]

ImportError: Missing optional dependency 'html5lib'.  Use pip or conda to install html5lib.

In [ ]:
gp2

In [ ]:
gp2=gp2.rename(columns={'Country':'Country','2023[7]': '2023', '2022[8]':'2022', '2021[9]': '2021', '2020[10]': '2020' })

In [ ]:
gp2

#tried to work with Chris but didnt work.
header=pd.MultiIndex.from_product([['Country','2015[13]', '2015[13]','2019[9]','2019[9]'],
                                     ['Country','Rank','Score','Rank','Score']],
                                    names=['Country','2015','2019'])

In [ ]:
#gp2=gp2.droplevel(0,axis=1)

In [ ]:
#deleting Score column
del gp2['Score']
gp2.head(2)

In [ ]:
gp2.columns

In [ ]:
#gp2.columns=['country', '2023','a', '2022','b', '2021','c', '2020', 'd']
#gp2

In [ ]:

#gp2=gp2.drop(columns=['a','b','c','d'])

In [ ]:
print(gp2.shape)

#another way of doing this is migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (16,39)])

In [ ]:
# removing the rows i dont want by index# in excel spreadsheet- using range and selecting the row above and the row
#that i want to remove because its going to remove the last one and keep the 1st index row.
    
migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[*range(16, 1454), *range(1474, 1475), *range(1484, 1485), *range(1490,1491),*range(1508,1510),
                                  *range(1517,1518),*range(1536,1538),*range(1543,1544),*range(1553,1555),*range(1562,1563),
                                   *range(1574,1576),*range(1602,1603),*range(1611,1612),*range(1626,1628),*range(1630,1631),
                                  *range(1636,1637),*range(1644,1645),*range(1654,1657),*range(1667,1668),*range(1681,1682),
                                  *range(1698,1699),*range(1708,1709),*range(1714,1737),*range(1757,1758),*range(1767,1768),
                                  *range(1773,1774),*range(1791,1793),*range(1800,1801),*range(1819,1821),*range(1826,1827),
                                   *range(1836,1838),*range(1845,1846),*range(1857,1859),*range(1885,1886),*range(1894,1895),
                                   *range(1909,1911),*range(1913,1914),*range(1919,1920),*range(1927,1928),*range(1937,1940),
                                   *range(1950,1951),*range(1964,1965),*range(1981,1982),*range(1991,1992)]
)

In [ ]:
migrant_by_origin_and_dest

migrant_by_orig=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (40,1453)])

In [ ]:
migrant_by_orig=migrant_by_origin_and_dest.loc[(migrant_by_origin_and_dest['Unnamed: 0']==2015)|(migrant_by_origin_and_dest['Unnamed: 0']==2019)]

In [ ]:
migrant_by_orig=migrant_by_orig.rename(columns = {'Unnamed: 0':'Year','Unnamed: 1' :'Sort order',
                                          'Unnamed: 2' : 'Destination Country','Unnamed: 3' :'Notes',
                                  'Unnamed: 4' : 'Code', 'Unnamed: 5':'Type of data'})

In [ ]:
#dropping the columns i dont need ) migrant_by_orig.drop(['Notes', 'Code', 'Type of data', 'Other South', 'Other North'])
migrant_by_orig= migrant_by_orig.loc[:, ~migrant_by_orig.columns.isin(['Total', 'Notes', 'Code', 'Type of data', 'Other South', 'Other North'])]

In [ ]:
migrant_by_orig

In [ ]:
# replacing the NaN values with 0

migrant_by_orig.fillna(0)

In [ ]:
# compiling the major country column into a set and then into a list
country_list=list(set(migrant_by_orig['Destination Country']))

In [ ]:
country_list

In [ ]:
# using melt function to change the countries showing across in a row and put then in a column and saving it to a df
# "melt function is used to change the DF format from wide to long"

country_by_dest=migrant_by_orig.melt(id_vars=['Year', 'Destination Country'], value_vars= country_list)

In [ ]:
country_by_dest

In [ ]:
# renaming the variable and value columns

country_by_dest=country_by_dest.rename(columns = {'variable':'Departure Country','value' : 'Total Emigrants'})

In [ ]:
country_pop.head(1)

In [ ]:
# instead of dropping all the NaNs, selecting values that are not NaN from TOtal numb of immig column.

country_by_dest=country_by_dest[country_by_dest['Total Emigrants'].notna()]

In [ ]:
country_by_dest

# saving each df to csv so i can open them in Tableau

In [ ]:
#migrant_by_orig.to_csv('../Data/migrant_by_orig.csv')

In [ ]:
#img_stk_2yrs.to_csv('../Data/img_stk_2yrs.csv')

In [ ]:
#country_pop.to_csv('../Data/country_pop.csv')

In [ ]:
#mass_killing_sra.to_csv('../Data/mass_killing_sra.csv')

In [ ]:
#total_unemp_rate.to_csv('../Data/total_unemp_rate.csv')

In [ ]:
#gp2.to_csv('../Data/gp2.csv')

In [ ]:
#country_by_dest.to_csv('../Data/country_by_dest.csv')

In [ ]:
country_by_dest

In [ ]:
country_by_dest= country_by_dest[['Year','Departure Country','Total Emigrants', 'Destination Country']]
country_by_dest.head(1)

In [ ]:
dep_country_emigrants=country_by_dest.groupby(['Year', 'Departure Country'])['Total Emigrants'].sum().reset_index()
dep_country_emigrants.head(2)

In [ ]:
dest_country_immigrants=country_by_dest.groupby(['Year', 'Destination Country'])['Total Emigrants'].sum().reset_index()
dest_country_immigrants.head(2)

In [ ]:
dest_country_immigrants=dest_country_immigrants.rename(columns={'Year':'Year', 'Destination Country':'Destination Country','Total Emigrants':'Total Immigrants'})

In [ ]:
dest_country_immigrants.head()

In [ ]:
country_pop.head(2)

In [ ]:
#merged_pop_dest['2019_immigrants_per_100k']=(merged_pop_dest['Total number of immigrants']/merged_pop_dest['M/F pop 2019'])*100000

merge_df=dep_country_emigrants.merge(country_pop, left_on =['Departure Country'], right_on =['Country'] )
merge_df.head()

In [ ]:
dep_country_emigrants.loc[dep_country_emigrants['Total Emigrants'].idxmax()]

In [ ]:
dep_country_emigrants.head(2)

In [ ]:
unemp_rate.head(2)

In [ ]:
dep_ctry_unemp_rate=dep_country_emigrants.merge(unemp_rate, left_on = ['Year', 'Departure Country'], right_on = ['Year', 'Country'])

In [ ]:
dep_ctry_unemp_rate.head()

In [ ]:
gp2.head()

## using .melt to move gp_rank2015 and 2019 to 1column so it can align when I join it with dep_ctry_unemp_rate df
## since wiki changed their website for global peace again so when i run the notebook and get an error and spend hrs to fix it
##  now they only have 2020-2023, I cant use the code below
#glob_p=gp2.melt(value_vars=['gp_rank_2015','gp_rank_2019'], id_vars= 'country')
#glob_p.head()#

In [ ]:
# using .str to keep just 4 digit yr from variable column 
#glob_p.variable=glob_p.variable.str[-4:]

In [ ]:
#glob_p

In [ ]:
#glob_p=glob_p.rename(columns ={'country':'country', 'variable': 'Year', 'value': 'gp_rank'})
#glob_p.head(1)

In [ ]:
#dep_country_emigrants.head(2)

In [ ]:
#gp_unemp_dept_ctry=dep_ctry_unemp_rate.merge(gp2, left_on = ['Departure Country'], right_on = ['country'])
#gp_unemp_dept_ctry.head()

In [ ]:
#gp_unemp_dept_ctry=gp_unemp_dept_ctry.drop(['Country','country'],axis=1)

In [ ]:
#gp_unemp_dept_ctry.head(2)

In [ ]:
#dep_ctry_unemp_rate.dtypes

In [ ]:
#glob_p.dtypes

In [ ]:
#this df has year column as an int and glob_p df has Year as an object, in order to do merge both columns have to be same dtype

#dep_ctry_unemp_rate['Year']=dep_ctry_unemp_rate['Year'].apply(str)

In [ ]:
#gp_unemp_dept_ctry1=dep_ctry_unemp_rate.merge(glob_p, left_on = ['Departure Country','Year'], right_on = ['country', 'Year'])

In [ ]:
#gp_unemp_dept_ctry1

In [ ]:
#gp_unemp_dept_ctry1=gp_unemp_dept_ctry1.drop(['Country','country'],axis=1)

In [ ]:
#FINAL TABLE WITH GLOBAL PEACE IND, UNEMP %, DEPT DEPT COUNTRY, TOTLA EMIGRANT- CONVERT TO CSV
#gp_unemp_dept_ctry1.head()

In [ ]:
mass_killing_sra.head(2)

In [ ]:
gp2.head(2)

In [ ]:
# MASS KILLING WITH GLOBAL PEACE - CONVERT TO CSV
mk_glob_p=mass_killing_sra.merge(gp2, left_on = ['risk_in_2021_22country'], right_on = ['Country'])
mk_glob_p.head()

In [ ]:
# COUNTRY BY DEST SHOWING EMIGRANTS LEAVING COUNTRY AND DESTINATION COUTRY- CONV TO CSV

country_by_dest

In [ ]:
#syntax to drop rows of a column based on criteria------df.drop(df[df['column_name']=='value'].index)

C:\Users\ksobi\AppData\Local\Temp\TableauTemp\1661843747\Data\created CSVs

In [ ]:
#gp_unemp_dept_ctry

In [ ]:
country_pop.head(2)

In [ ]:
#this forloop is normalizing the population column for both m/f column and addind a new column. it gives error when i run it
# but it works. 

pop_columns=['M/F pop 2015', 'M/F pop 2019']
for col in pop_columns:
    new_col=col + ' in million'
    country_pop[new_col] = (country_pop[col]/1000000).round(2)

In [ ]:
country_pop.info()

In [ ]:
country_pop.head()

In [ ]:
#country_pop=country_pop.drop(columns=['M pop 2015','M pop 2019', 'F pop 2015', 'F pop 2019'])

In [ ]:
country_pop_total=country_pop.drop(['Sort order','M pop 2015', 'M pop 2019','F pop 2015','F pop 2019'], axis=1)

In [ ]:
# TABLE SHOWING COUNTRY POP AND COUNTRY POP/100K- CONV TO CSV
country_pop_total

In [ ]:
country_by_dest.head(3)

In [ ]:
mk_glob_p.head(3)

commenting out the csv since i've created them so when i run the notebook the csvs dont get created again

In [ ]:
countries=pd.read_csv('../data/countries.csv')

In [ ]:
countries=countries[['latitude', 'longitude','name']]

In [ ]:
countries.columns=['lat', 'lng', 'country']

In [ ]:
countries=countries[['country', 'lat', 'lng']]

In [ ]:
countries['country']=countries.country.replace({'United States': 'United States of America'})

In [ ]:
countries['country'].tolist()

In [ ]:
#countries.to_csv('../tableau_data/countries.csv')

In [ ]:
#country_pop_total.to_csv('../tableau_data/country_pop_total.csv')

In [ ]:
#unemp_rate.to_csv('../tableau_data/unemp_rate.csv')

In [ ]:
#country_by_dest.to_csv('../tableau_data/country_by_dest.csv')

In [ ]:
#mk_glob_p.to_csv('../tableau_data/mk_glob_p.csv')