In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3 as sqlite

In [ ]:
# reading in excel table 1(immigrant stock) while moving the the header 15 rows up and skipping rows 16-39

immigrantstock=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (16,39)])

In [ ]:
immigrantstock

In [ ]:
# dropping the columns highlighted in blue in the excel sprdsheet(ones i dont want)
immigrantstock=immigrantstock.loc[~(immigrantstock['Unnamed: 0']==44)& ~(immigrantstock['Unnamed: 0']==54) & ~(immigrantstock['Unnamed: 0']==60)
                   & ~(immigrantstock['Unnamed: 0']==78) & ~(immigrantstock['Unnamed: 0']==79) & ~(immigrantstock['Unnamed: 0']==87)
                   & ~(immigrantstock['Unnamed: 0']==106) & ~(immigrantstock['Unnamed: 0']==107) & ~(immigrantstock['Unnamed: 0']==113)
                   & ~(immigrantstock['Unnamed: 0']==123) & ~(immigrantstock['Unnamed: 0']==124) & ~(immigrantstock['Unnamed: 0']==132)
                   & ~(immigrantstock['Unnamed: 0']==144) & ~(immigrantstock['Unnamed: 0']==145) & ~(immigrantstock['Unnamed: 0']==172)
                   & ~(immigrantstock['Unnamed: 0']==181) & ~(immigrantstock['Unnamed: 0']==196) & ~(immigrantstock['Unnamed: 0']==197)
                   & ~(immigrantstock['Unnamed: 0']==200) & ~(immigrantstock['Unnamed: 0']==206) & ~(immigrantstock['Unnamed: 0']==214)
                   & ~(immigrantstock['Unnamed: 0']==224) & ~(immigrantstock['Unnamed: 0']==225) & ~(immigrantstock['Unnamed: 0']==226)
                   & ~(immigrantstock['Unnamed: 0']==237) & ~(immigrantstock['Unnamed: 0']==251) & ~(immigrantstock['Unnamed: 0']==268)
                   & ~(immigrantstock['Unnamed: 0']==278)]

In [ ]:
# renaming the columns but toward 2010 i had to put the column in '' because its not a str. so you'll see the first few
#columns in green and then it'll be all in ''.

img_stk_gndr=immigrantstock.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Major country, area of destination',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F img_stk 2015',2019: 'M/F img_stk 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M img_stk 2015','2019.1': 'M img_stk 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F img_stk 2015','2019.2': 'F img_stk 2019'})

In [ ]:
img_stk_gndr

In [ ]:
#keeping what I need from the above table to an new table named img_stk_2yrs (only keeping 2yrs of data)

img_stk_2yrs=img_stk_gndr[['Sort order','Major country, area of destination','M/F img_stk 2015', 'M/F img_stk 2019',
                           'M img_stk 2015', 'M img_stk 2019','F img_stk 2015', 'F img_stk 2019' ]]

In [ ]:
img_stk_2yrs

In [ ]:
# reading in excel Table 2 (country population table)while moving the the header 15 rows up and skipping rows 16-39
country_pop=pd.read_excel('../data/UN_MigrantStockTotal_2019.xlsx',
             sheet_name= 'Table 2',
              header=15, skiprows=[i for i in range (16,39)])

In [ ]:
country_pop

In [ ]:
# dropping the rows highlighted in blue in the excel sprdsheet(ones i dont want)

country_pop=country_pop.loc[~(country_pop['Unnamed: 0']==44)& ~(country_pop['Unnamed: 0']==54) & ~(country_pop['Unnamed: 0']==60)
                   & ~(country_pop['Unnamed: 0']==78) & ~(country_pop['Unnamed: 0']==79) & ~(country_pop['Unnamed: 0']==87)
                   & ~(country_pop['Unnamed: 0']==106) & ~(country_pop['Unnamed: 0']==107) & ~(country_pop['Unnamed: 0']==113)
                   & ~(country_pop['Unnamed: 0']==123) & ~(country_pop['Unnamed: 0']==124) & ~(country_pop['Unnamed: 0']==132)
                   & ~(country_pop['Unnamed: 0']==144) & ~(country_pop['Unnamed: 0']==145) & ~(country_pop['Unnamed: 0']==172)
                   & ~(country_pop['Unnamed: 0']==181) & ~(country_pop['Unnamed: 0']==196) & ~(country_pop['Unnamed: 0']==197)
                   & ~(country_pop['Unnamed: 0']==200) & ~(country_pop['Unnamed: 0']==206) & ~(country_pop['Unnamed: 0']==214)
                   & ~(country_pop['Unnamed: 0']==224) & ~(country_pop['Unnamed: 0']==225) & ~(country_pop['Unnamed: 0']==226)
                   & ~(country_pop['Unnamed: 0']==237) & ~(country_pop['Unnamed: 0']==251) & ~(country_pop['Unnamed: 0']==268)
                   & ~(country_pop['Unnamed: 0']==278)]

In [ ]:
country_pop

In [ ]:
# renaming the columns but toward 2010 i had to put the column in '' because its not a str. so you'll see the first few
#columns in green and then it'll be all in ''.

country_pop=country_pop.rename(columns = {'Unnamed: 0':'Sort order','Unnamed: 1' : 'Country',
                                          'Unnamed: 2' : 'Notes','Unnamed: 3' : 'Code','Unnamed: 4' : 'Type of data',
                                          1990 : 'M/F 1990',1995 : 'M/F 1995',2000 : 'M/F 2000',
                                         2005:'M/F 2005',2010 : 'M/F 2010',2015 : 'M/F pop 2015',2019: 'M/F pop 2019',
                                          1990.1 : 'M 1990',1995.1 : 'M 1995',2000.1 : 'M 2000',
                                         2005.1:'M 2005','2010.1' : 'M 2010','2015.1' : 'M pop 2015','2019.1': 'M pop 2019',
                                         '1990.2' : 'F 1990','1995.2' : 'F 1995','2000.2' : 'F 2000',
                                         '2005.2':'F 2005','2010.2' : 'F 2010','2015.2' : 'F pop 2015','2019.2': 'F pop 2019'})

In [ ]:
country_pop

In [ ]:
country_pop.loc[country_pop['M/F pop 2015'].idxmax()]

In [ ]:
# multiplying each column pop by 1000 coz the pop is in million.

country_pop['M/F pop 2015']=1000 * country_pop['M/F pop 2015']

In [ ]:
country_pop['M/F pop 2019']=1000 * country_pop['M/F pop 2019']

In [ ]:
country_pop['M pop 2015']=1000* country_pop['M pop 2015']

In [ ]:
country_pop['M pop 2019']=1000 *country_pop['M pop 2019']

In [ ]:
country_pop['F pop 2015']=1000*country_pop['F pop 2015']

In [ ]:
country_pop['F pop 2019']=1000*country_pop['F pop 2019']

In [ ]:
country_pop=country_pop[['Sort order','Country','M/F pop 2015', 'M/F pop 2019','M pop 2015', 'M pop 2019','F pop 2015', 'F pop 2019' ]]

In [ ]:
country_pop=country_pop.dropna()

In [ ]:
country_pop.head()

In [ ]:
#importing statistic risk analysis csv.
sra=pd.read_csv("../Data/sra_2021.csv")

In [ ]:
sra

In [ ]:
# Keeping the columns i want and saving it to another df.
mass_killing_sra=sra[['risk_in_2021_22country', 'ISO3', 'riskrank', '1 in X chance', 'anymk.ongoing', 'anymk.ever', 'imr.sqrt', 
     'gdppcgrowth.combined', 'battledeaths.ln', 'religiousfreedom']]

In [ ]:
mass_killing_sra

In [ ]:
# the battledeaths.ln column needs to be converted because Battle-related deaths are in log 
#(log e*  of battle related deaths plus 1) 
round(-1+np.e**mass_killing_sra['battledeaths.ln'])

In [ ]:
#after converting the battlereaths to the actual number i assigned the answer to a new column.

mass_killing_sra=mass_killing_sra.assign(battledeaths=round(-1+np.e**mass_killing_sra['battledeaths.ln']))

In [ ]:
mass_killing_sra

In [ ]:
# dividing all the values in ['1 in X chance'] to get the percentage chance of mass killing
round(1/mass_killing_sra['1 in X chance'], 4)

In [ ]:
# dividing all the values in ['1 in X chance'] to get the percentage chance of mass killing and assigning it in a new column
#and saving it back to the df..

mass_killing_sra=mass_killing_sra.assign(percent_chance_of_mass_killing=round(1/mass_killing_sra['1 in X chance'], 4))

In [ ]:
mass_killing_sra

In [ ]:
round(mass_killing_sra['imr.sqrt']**2)

In [ ]:
# finding the infant mortality rate per 1000 and assigning it to a new column and saving it back to the df.

mass_killing_sra=mass_killing_sra.assign(imr_per_1000=round(mass_killing_sra['imr.sqrt']**2))

In [ ]:
mass_killing_sra

In [ ]:
total_unemp_rate=pd.read_csv("../Data/unemployment-rate.csv")

In [ ]:
total_unemp_rate

In [ ]:
# only keep 2 yrs (2015 and 2019) by using the .loc method/

unemp_rate=total_unemp_rate.loc[(total_unemp_rate['Year']== 2015)|(total_unemp_rate['Year']== 2019) ]

In [ ]:
unemp_rate

In [ ]:
unemp_rate=unemp_rate.rename(columns={'Entity':'Country','Code': 'Country_code', 'Year': 'Year','Unemployment, total (% of total labor force) (modeled ILO estimate)': 'Unemployment %' })

In [ ]:
unemp_rate.head()

In [ ]:
import requests

In [ ]:
URL = 'https://en.wikipedia.org/wiki/Global_Peace_Index'

response = requests.get(URL)

In [ ]:
type(response)

In [ ]:
response.status_code

In [ ]:
response.text

In [ ]:
from bs4 import BeautifulSoup as BS

In [ ]:
soup = BS(response.text)

In [ ]:
soup

In [ ]:
print(soup.prettify())

In [ ]:
soup.findAll('table')

In [ ]:
soup.find('table', class_ =  'sortable')

In [ ]:
table_html = str(soup.find('table', class_= 'sortable'))

from IPython.core.display import HTML

HTML(table_html)

In [ ]:
gp2=pd.read_html(str(table_html))[0]

In [ ]:
gp2=gp2.rename(columns={'Country':'Country','2023[7]': '2023', '2022[8]':'2022', '2021[9]': '2021', '2020[10]': '2020' })

In [ ]:
gp2

#tried to work with Chris but didnt work.
header=pd.MultiIndex.from_product([['Country','2015[13]', '2015[13]','2019[9]','2019[9]'],
                                     ['Country','Rank','Score','Rank','Score']],
                                    names=['Country','2015','2019'])

In [ ]:
gp2

In [ ]:
gp2=gp2.droplevel(0,axis=1)

In [ ]:
#deleting Score column
del gp2['Score']
gp2.head(2)

In [ ]:
gp2.columns

In [ ]:
gp2.columns=['country', '2023','a', '2022','b', '2021','c', '2020', 'd']
gp2

In [ ]:

gp2=gp2.drop(columns=['a','b','c','d'])

In [ ]:
print(gp2.shape)

#another way of doing this is migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (16,39)])

In [ ]:
# removing the rows i dont want by index# in excel spreadsheet- using range and selecting the row above and the row
#that i want to remove because its going to remove the last one and keep the 1st index row.
    
migrant_by_origin_and_dest=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[*range(16, 1454), *range(1474, 1475), *range(1484, 1485), *range(1490,1491),*range(1508,1510),
                                  *range(1517,1518),*range(1536,1538),*range(1543,1544),*range(1553,1555),*range(1562,1563),
                                   *range(1574,1576),*range(1602,1603),*range(1611,1612),*range(1626,1628),*range(1630,1631),
                                  *range(1636,1637),*range(1644,1645),*range(1654,1657),*range(1667,1668),*range(1681,1682),
                                  *range(1698,1699),*range(1708,1709),*range(1714,1737),*range(1757,1758),*range(1767,1768),
                                  *range(1773,1774),*range(1791,1793),*range(1800,1801),*range(1819,1821),*range(1826,1827),
                                   *range(1836,1838),*range(1845,1846),*range(1857,1859),*range(1885,1886),*range(1894,1895),
                                   *range(1909,1911),*range(1913,1914),*range(1919,1920),*range(1927,1928),*range(1937,1940),
                                   *range(1950,1951),*range(1964,1965),*range(1981,1982),*range(1991,1992)]
)

migrant_by_orig=pd.read_excel("../Data/UN_MigrantStockByOriginAndDestination_2019.xlsx", sheet_name= 'Table 1',
              header=15, skiprows=[i for i in range (40,1453)])

In [ ]:
migrant_by_orig=migrant_by_origin_and_dest.loc[(migrant_by_origin_and_dest['Unnamed: 0']==2015)|(migrant_by_origin_and_dest['Unnamed: 0']==2019)]

In [ ]:
migrant_by_orig=migrant_by_orig.rename(columns = {'Unnamed: 0':'Year','Unnamed: 1' :'Sort order',
                                          'Unnamed: 2' : 'Destination Country','Unnamed: 3' :'Notes',
                                  'Unnamed: 4' : 'Code', 'Unnamed: 5':'Type of data'})

In [ ]:
#dropping the columns i dont need ) migrant_by_orig.drop(['Notes', 'Code', 'Type of data', 'Other South', 'Other North'])
migrant_by_orig= migrant_by_orig.loc[:, ~migrant_by_orig.columns.isin(['Total', 'Notes', 'Code', 'Type of data', 'Other South', 'Other North'])]

In [ ]:
migrant_by_orig

In [ ]:
# replacing the NaN values with 0

migrant_by_orig.fillna(0)

In [ ]:
# compiling the major country column into a set and then into a list
country_list=list(set(migrant_by_orig['Destination Country']))

In [ ]:
country_list

In [ ]:
# using melt function to change the countries showing across in a row and put then in a column and saving it to a df
# "melt function is used to change the DF format from wide to long"

country_by_dest=migrant_by_orig.melt(id_vars=['Year', 'Destination Country'], value_vars= country_list)

In [ ]:
country_by_dest

In [ ]:
# renaming the variable and value columns

country_by_dest=country_by_dest.rename(columns = {'variable':'Departure Country','value' : 'Total Emigrants'})

In [ ]:
country_pop.head(1)

In [ ]:
# instead of dropping all the NaNs, selecting values that are not NaN from TOtal numb of immig column.

country_by_dest=country_by_dest[country_by_dest['Total Emigrants'].notna()]

In [ ]:
country_by_dest

# saving each df to csv so i can open them in Tableau

In [ ]:
#migrant_by_orig.to_csv('../Data/migrant_by_orig.csv')

In [ ]:
#img_stk_2yrs.to_csv('../Data/img_stk_2yrs.csv')

In [ ]:
#country_pop.to_csv('../Data/country_pop.csv')

In [ ]:
#mass_killing_sra.to_csv('../Data/mass_killing_sra.csv')

In [ ]:
#total_unemp_rate.to_csv('../Data/total_unemp_rate.csv')

In [ ]:
#gp2.to_csv('../Data/gp2.csv')

In [ ]:
#country_by_dest.to_csv('../Data/country_by_dest.csv')

In [ ]:
country_by_dest

In [ ]:
country_by_dest= country_by_dest[['Year','Departure Country','Total Emigrants', 'Destination Country']]
country_by_dest.head(1)

In [ ]:
dep_country_emigrants=country_by_dest.groupby(['Year', 'Departure Country'])['Total Emigrants'].sum().reset_index()
dep_country_emigrants.head(2)

In [ ]:
dest_country_immigrants=country_by_dest.groupby(['Year', 'Destination Country'])['Total Emigrants'].sum().reset_index()
dest_country_immigrants.head(2)

In [ ]:
dest_country_immigrants=dest_country_immigrants.rename(columns={'Year':'Year', 'Destination Country':'Destination Country','Total Emigrants':'Total Immigrants'})

In [ ]:
dest_country_immigrants.head()

In [ ]:
country_pop.head(2)

In [ ]:
#merged_pop_dest['2019_immigrants_per_100k']=(merged_pop_dest['Total number of immigrants']/merged_pop_dest['M/F pop 2019'])*100000

merge_df=dep_country_emigrants.merge(country_pop, left_on =['Departure Country'], right_on =['Country'] )
merge_df.head()

In [ ]:
dep_country_emigrants.loc[dep_country_emigrants['Total Emigrants'].idxmax()]

In [ ]:
dep_country_emigrants.head(2)

In [ ]:
unemp_rate.head(2)

In [ ]:
dep_ctry_unemp_rate=dep_country_emigrants.merge(unemp_rate, left_on = ['Year', 'Departure Country'], right_on = ['Year', 'Country'])

In [ ]:
dep_ctry_unemp_rate.head()

In [ ]:
gp2.head()

In [ ]:
#using .melt to move gp_rank2015 and 2019 to 1column so it can align when I join it with dep_ctry_unemp_rate df
#since wiki changed their website for global peace again and now they only have 2020-2023 yrs I cant use the code below
#glob_p=gp2.melt(value_vars=['gp_rank_2015','gp_rank_2019'], id_vars= 'country')
#glob_p.head()#

In [ ]:
# using .str to keep just 4 digit yr from variable column 
#glob_p.variable=glob_p.variable.str[-4:]

In [ ]:
#glob_p

In [ ]:
#glob_p=glob_p.rename(columns ={'country':'country', 'variable': 'Year', 'value': 'gp_rank'})
#glob_p.head(1)

In [ ]:
#dep_country_emigrants.head(2)

In [ ]:
#gp_unemp_dept_ctry=dep_ctry_unemp_rate.merge(gp2, left_on = ['Departure Country'], right_on = ['country'])
#gp_unemp_dept_ctry.head()

In [ ]:
#gp_unemp_dept_ctry=gp_unemp_dept_ctry.drop(['Country','country'],axis=1)

In [ ]:
#gp_unemp_dept_ctry.head(2)

In [ ]:
#dep_ctry_unemp_rate.dtypes

In [ ]:
#glob_p.dtypes

In [ ]:
#this df has year column as an int and glob_p df has Year as an object, in order to do merge both columns have to be same dtype

#dep_ctry_unemp_rate['Year']=dep_ctry_unemp_rate['Year'].apply(str)

In [ ]:
#gp_unemp_dept_ctry1=dep_ctry_unemp_rate.merge(glob_p, left_on = ['Departure Country','Year'], right_on = ['country', 'Year'])

In [ ]:
#gp_unemp_dept_ctry1

In [ ]:
#gp_unemp_dept_ctry1=gp_unemp_dept_ctry1.drop(['Country','country'],axis=1)

In [ ]:
#FINAL TABLE WITH GLOBAL PEACE IND, UNEMP %, DEPT DEPT COUNTRY, TOTLA EMIGRANT- CONVERT TO CSV
#gp_unemp_dept_ctry1.head()

In [ ]:
mass_killing_sra.head(2)

In [ ]:
gp2.head(2)

In [ ]:
# MASS KILLING WITH GLOBAL PEACE - CONVERT TO CSV
mk_glob_p=mass_killing_sra.merge(gp2, left_on = ['risk_in_2021_22country'], right_on = ['country'])
mk_glob_p.head()

In [ ]:
# COUNTRY BY DEST SHOWING EMIGRANTS LEAVING COUNTRY AND DESTINATION COUTRY- CONV TO CSV

country_by_dest

In [ ]:
#syntax to drop rows of a column based on criteria------df.drop(df[df['column_name']=='value'].index)

C:\Users\ksobi\AppData\Local\Temp\TableauTemp\1661843747\Data\created CSVs

In [ ]:
#gp_unemp_dept_ctry

In [ ]:
country_pop.head(2)

In [ ]:
#this forloop is normalizing the population column for both m/f column and addind a new column. it gives error when i run it
# but it works. 

pop_columns=['M/F pop 2015', 'M/F pop 2019']
for col in pop_columns:
    new_col=col + ' in million'
    country_pop[new_col] = (country_pop[col]/1000000).round(2)

In [ ]:
country_pop.info()

In [ ]:
country_pop.head()

In [ ]:
#country_pop=country_pop.drop(columns=['M pop 2015','M pop 2019', 'F pop 2015', 'F pop 2019'])

In [ ]:
country_pop_total=country_pop.drop(['Sort order','M pop 2015', 'M pop 2019','F pop 2015','F pop 2019'], axis=1)

In [ ]:
# TABLE SHOWING COUNTRY POP AND COUNTRY POP/100K- CONV TO CSV
country_pop_total

In [ ]:
country_by_dest.head(3)

In [ ]:
mk_glob_p.head(3)

commenting out the csv since i've created them so when i run the notebook the csvs dont get created again

In [ ]:
countries=pd.read_csv('../data/countries.csv')

In [ ]:
countries=countries[['latitude', 'longitude','name']]

In [ ]:
countries.columns=['lat', 'lng', 'country']

In [ ]:
countries=countries[['country', 'lat', 'lng']]

In [ ]:
countries['country']=countries.country.replace({'United States': 'United States of America'})

In [ ]:
countries['country'].tolist()

In [ ]:
#countries.to_csv('../tableau_data/countries.csv')

In [ ]:
#country_pop_total.to_csv('../tableau_data/country_pop_total.csv')

In [ ]:
#unemp_rate.to_csv('../tableau_data/unemp_rate.csv')

In [ ]:
#country_by_dest.to_csv('../tableau_data/country_by_dest.csv')

In [ ]:
#mk_glob_p.to_csv('../tableau_data/mk_glob_p.csv')